POSTGRES_USER=<POSTGRES_USERNAME>
POSTGRES_PASSWORD=<POSTGRES_PASSWORD>
POSTGRES_DB=<POSTGRES_DB_NAME>
RETRIEVAL_CHAIN_URL=/retrieve
CONVERSATIONAL_CHAIN_URL=/chat
CONTEXT_GRADER_URL=/grade_context
SESSION_API_URL=/sessions
SESSION_CHAT_API_URL=/sessions/chats
CORRECTNESS_EVAL_CHAIN_URL=/eval/correctness
RELEVANCE_EVAL_CHAIN_URL=/eval/relevance 
HARMFULNESS_EVAL_CHAIN_URL=/eval/harmfulness
CONCISENESS_EVAL_CHAIN_URL=/eval/conciseness
COHERENCE_EVAL_CHAIN_URL=/eval/coherence
TEST_MODE=0
INIT_MODE=<DB_INIT_FLAG>